*{
    box-sizing: border-box;
    border: 1px solid red
    
}
body{
    background-image: url('./img/background.png');
    margin: 0;
    object-fit: cover;
    overflow: hidden;
}
.viewport-div{
    min-width: 100vw;
    min-height: 80vh;
    cursor: url('./img/cursor.png') 57 64,auto;
    position: relative;

    grid-area: viewport-area;
}
.gameplane {
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-content:center;
    grid-template-areas: 
    "wormbox-area score-area"
    "viewport-area viewport-area";
    align-items: flex-start;
    justify-content: stretch;
}
.winscreen {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: black;
    display: none;
    text-align: center;
}
.score-div{
    grid-area: score-area;
}
.score-text{
    margin: 0;
    padding: 0;
    color:papayawhip;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: bold;
    font-size: 4vw;
    text-align: left;
    justify-content: left;
    width: 30vw;
}

.worm-container {
    max-width: 70vw;
    width: 0%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    background-image: url('./img/background.png');
    
}

.worm-box {
    width: 70vw;
    height: 100px;
    background-image: url('./img/background.png');

    grid-area: wormbox-area;
    
}

.worm-meter {
    width: 70vw;
}

.mole-hole{
    width: 225px;
    height: 225px;
    border-radius: 150px;
    background-color: #64361C;
    
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
#mole-hole-0{
    background-image: url('./img/soil-0.png');
}

@keyframes zoomIn{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.5);
    }
}

.show{
    display: inline-block;
}

.mole-out {
    animation: zoomIn .8s ease-in-out;
}

.mole-in {
    animation: zoomOut .8s ease-in-out;
}

.hide {
    display: none;
}
.mole-hole img#hungry:hover, .mole-hole img#king_hungry:hover{
    cursor: url('./img/cursor-worm.png') 57 64,
        auto;
}
